@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Viaoda+Libre&family=Zain:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    font-family: var(--text-generico);
}

:root {
    --clr-escuro: #242426;
    --clr-branco: #EFE9C6;
    --clr-link: #cd9b59;
    --clr-link-ativo: #963f2e;

    --text-paragrafo: "Zain", sans-serif;
    --text-titulo: "Viaoda Libre", serif; 
    --text-generico: "Nanum Myeongjo", serif;
}

header {
    background-color: var(--clr-escuro);
    color: var(--clr-branco);
    text-align: center;
    padding: .5rem;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--text-titulo);
}

header p {
    padding-bottom: 50px;
}

a {
    color: var(--clr-link);
    text-decoration: none;
    font-style: italic;
}

a:visited, a:hover {
    color: var(--clr-link-ativo);
    font-weight: bold;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 12vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--text-paragrafo);
    font-size: 3vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: var(--clr-branco);
    color: var(--clr-escuro);
}

section.imagem {
    background-color: var(--clr-escuro);
    color: var(--clr-branco);
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.418);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    background-color: #24242673;
    width: 40%;
    padding: 8px;
    border-radius: 8px;
}

section#imagem1 {
    background-image: url(/imagens/background001.jpg);
    background-position: right center;
}

section#imagem2 {
    background-image: url(/imagens/background002.jpg);
    background-position: right center;
}













footer {
    background-color: var(--clr-escuro);
    color: var(--clr-branco);
    text-align: center;
    padding: 1rem;
}

